<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>
</head>
<body>
    <div class="sidenav">
      <a href="#home">Home</a>
      <button class="dropdown-btn">
        Project
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="#">New Project</a>
      </div>
      <button class="dropdown-btn">
        Task
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="#">New Task</a>
      </div>
      <a href="#team">Team</a>
    </div>
</body>
</html>